/* src/components/Header.css */
.header {
  background-color: var(--bg-color);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-title {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0;
}

.header-nav {
  margin-top: 10px;
}

.header-link {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

.header-link:hover {
  color: var(--primary-hover-color);
}
