/* Root Styles */
:root {
  --bg-color: #1e1e1e;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --text-color: #e0e0e0;
  --border-color: #333;
  --error-color: #ff4c4c;
  --notification-bg-color: #28a745;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Heading */
h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Choices */
.choices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.choices input {
  margin-right: 5px;
}

.choices label {
  cursor: pointer;
}

/* Textarea */
textarea {
  width: 97%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: #2a2a2a;
  color: var(--text-color);
}

/* Error */
.error {
  color: var(--error-color);
  margin-bottom: 10px;
}

/* Button */
button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
}

/* Translation Section */
.translation {
  margin-top: 20px;
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  position: relative;
  min-height: 40px;
}

/* Detected Language */
.detected-language {
  margin-bottom: 10px;
}

/* Corrected Text */
.corrected-text {
  margin-bottom: 20px;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
}

/* Translated Text */
.translated-text {
  display: flex;
  justify-content: space-between;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
}

/* Copy Button */
.copy-btn {
  /* position: absolute; */
  left: 0;
  top: -30px;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  width: 20px;
  height: 20px;
}

.copy-btn:hover {
  background-color: #2a2a2a;
}

/* Notification */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--notification-bg-color);
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.notification.active {
  opacity: 1;
}
